{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'game_app/style.css' %}">
    <title>Title</title>
</head>
<body>
<h1>Dodaj grę!</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Nazwa"> <br>
        <input type="text" name="description" placeholder="Opis"> <br>
        <input type="text" name="rating" placeholder="Ocena"> <br>
        <input type="text" name="price" placeholder="Cena"> <br>
        <input type="submit" value="Wyślij" id="submitYes">
    </form>
</body>
</html>